/*
Custom data tags
Based on Maggie's "Leyendecker" theme
*/

span.rm-page-ref[data-tag="tweet"] {
    background: transparent;
    color: #81D5ED;
    padding: 3px 7px;
    line-height: 2em;
    font-weight: 500;
    border-radius: 4px;
}
span.rm-page-ref[data-tag="video"] {
    background: #9769FF;
    color: white;
    padding: 3px 7px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 2em;
}

span.rm-page-ref[data-tag="quotes"], span.rm-page-ref[data-tag="quote"] {
    background: #233ED9;
    color: white;
    padding: 3px 7px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 2em;
}

span.rm-page-ref[data-tag="fav"] {
    color: #F44336 ;
}

span.rm-page-ref[data-tag="fav"]:before {
    content: '★ '
}

span.rm-page-ref[data-tag="exercise"] {
    background: #4FC460;
    color: white;
    padding: 3px 7px;
    font-weight: 700;
    border-radius: 4px;
    line-height: 2em;
}
span.rm-page-ref[data-tag="exercise"]:before {
  content: '⚯ ';
  background: #4FC460;
  color: white;

}

span.rm-page-ref[data-tag="religion"] {
  /* background: transparent !important; */
  /* color: #FF5047 !important; */
  padding: 3px 7px;
  line-height: 2em;
  font-weight: 700;
  border-radius: 4px;
}
span.rm-page-ref[data-tag="newsletter"] {
  background: #FC766F !important;
  color: #fff !important;
  padding: 3px 7px;
  line-height: 2em;
  font-weight: 700;
  border-radius: 4px;
}
span.rm-page-ref[data-tag="Quick Capture"] {
  background: transparent !important;
  color: #4FC460 !important;

}
span.rm-page-ref[data-tag="Quick Capture"]:before {
    content: '🖋 ';
    color: transparent;
    text-shadow: 0 0 0 #4FC460;

}
span.rm-page-ref[data-tag="idea bank"] {
  background-color: transparent;
  color: #FCB815 !important;
  padding: 3px 4px;
  font-weight: 700;
  line-height: 1.4em;

}
span.rm-page-ref[data-tag="idea bank"]:before {
   content: '✦ ';
  /*-webkit-text-stroke: 1px black;*/
}
span.rm-page-ref[data-tag="campaign 1"]:before {
   content: '⚑ ';
   /*-webkit-text-stroke: 1px black;*/

}
span.rm-page-ref[data-tag="thoughts"]:before {
    /* content: '🧠 ';*/
    color: transparent !important;
    text-shadow: 0 0 0 #37AC94;

}

/*               */
/* Maggie's Tags */
/*               */


span.rm-page-ref[data-tag="Evergreens"] {
    background: #0DBAC6 !important;
    color: #fff !important;
    padding: 3px 8px;
    line-height: 2em;
    font-weight: 500;
border-radius: 4px;
}

span.rm-page-ref[data-tag="Seedling"] {
    color: #0dbac6 !important;
    padding: 3px 3px;
    font-weight: 600;
    line-height: 1.4em;
}

span.rm-page-ref[data-tag="Garden Notes"] {
    color: #9DBC13;
    padding: 3px 4px;
    font-weight: 700;
    line-height: 1.4em;
}

span.rm-page-ref[data-tag="Video Tutorial"] {
    color: #db3b8d;
    padding: 3px 4px;
    line-height: 1.4em;
    font-weight: 700;
}

span.rm-page-ref[data-tag="Essay"] {
    background: #ADCB2A;
    color: #fff;
    padding: 3px 7px;
    line-height: 2em;
    font-weight: 500;
border-radius: 4px;
}


span.rm-page-ref[data-tag="Livestream"] {
    color: #B979CF;
    padding: 3px 4px;
    line-height: 1.4em;
    font-weight: 700;
}

span.rm-page-ref[data-tag="Talk"] {
    background: #7172FC;
    color: #fff;
    padding: 3px 7px;
    line-height: 2em;
    font-weight: 500;
border-radius: 4px;
}

span.rm-page-ref[data-tag="Waiting"] {
    background: #F9C866;
    color: #fff;
    padding: 3px 7px;
    line-height: 2em;
    font-weight: 500;
border-radius: 4px;
}

span.rm-page-ref[data-tag="Researching"] {
    background: #FF9D66 !important;
    color: #fff;
    padding: 3px 7px;
    line-height: 2em;
    font-weight: 500;
border-radius: 4px;
}

span.rm-page-ref[data-tag="Synthesising"] {
    background: #FC766F !important;
    color: #fff !important;
    padding: 3px 7px;
    line-height: 2em;
    font-weight: 500;
border-radius: 4px;
}


span.rm-page-ref[data-tag="Alive"] {
    background: #EE5F85 !important;
    color: #fff !important;
    padding: 3px 7px;
    line-height: 2em;
    font-weight: 500;
border-radius: 4px;
